body {
    margin: 0;
}

section {
    height: 500px;
    padding-bottom: 180px;
}

h1 {
    font-size: 50px;
}

.banner {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
    height: 400px;
}

.orange {
    color: orange;
}

.nav {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.nav img {
    width: 100%;
}

.paragraph {
    color: rgb(168, 105, 105);
}

.btn {
    background-color: tomato;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
    color: white;

}

.dream {
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;

}

h2 {
    font-size: 50px;
    font-weight: bold;
}
.last-section{
    background-image: url('../images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.web-development{
    display: flex;
}
.full-stack{
    width: 50%;
    margin: 70px;
    padding: 30px;
    border-left:10px solid red;
    background-color: white;
    box-shadow: 10px 10px 30px rgb(135, 115, 115);
}
.baby-web{
    margin: 70px;
    background-color: white;
    width: 50%;
    padding: 30px;
    border-left:10px solid blue;
    box-shadow: 10px 10px 30px rgb(135, 115, 115);
}
.bold{
    font-size: 25px;
    font-weight: bold;
}
.footer{
    text-align: center;
}